<div class="search-container">
  <article>
    <h1><%= title %></h1>
    <form class="form-inline" role="search">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search Groups">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </article>
</div>
